<html>
<head>  
    <title>Edit</title>  
</head>  
<body>  
<form method="POST" action="/update/{{employee.id}}">  
        {% csrf_token %}  
    <h3>Update Details</h3>  
    <br>
	Employee Id:  
        <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ employee.eid }}"/> <br>
		Employee Name:  
        <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{ employee.ename }}" />  
    <br>
    Employee Email: 
        <input type="email" name="eemail" id="id_eemail" required maxlength="254" value="{{ employee.eemail }}" />  
    <br>  
  Employee Contact: 
        <input type="text" name="econtact" id="id_econtact" required maxlength="15" value="{{ employee.econtact }}" /><br>
    <button type="submit">Update</button>  
</form>  
</body>  
</html>  